
.refresh
{

-fx-graphic : url("refresh.png");

}

.pilot
{

-fx-graphic : url("pilot.png");

}


.preview
{

-fx-graphic : url("preview.png");

}

.image
{

-fx-graphic : url("image.png");

}


.report
{

-fx-graphic : url("report.png");

}
.types
{

-fx-graphic : url("types.png");

}


.process
{

-fx-graphic : url("process.png");

}
.calll
{

-fx-graphic : url("cal.png");

}
.admin
{

-fx-graphic : url("admin.png");

}

.plann
{

-fx-graphic : url("plann.png");

}
.printo
{

-fx-graphic : url("printo.png");

}
.audit
{

-fx-graphic : url("audit.png");

}




.performance
{

-fx-graphic : url("performance.png");

}
.data_query
{

-fx-graphic : url("data_query.png");

}

.new_entry
{

-fx-graphic : url("new_entry.png");

}

.table-view .column-header-background {
    -fx-background-color: transparent;   /* أو لون خفيف عشان تتأكد */
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pick-on-bounds: true;
}

.table-view .column-header {
    -fx-background-color: #f0f0f0;       /* لون واضح عشان تشوف الحدود */
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-pick-on-bounds: true;
}

.table-view .show-hide-columns-button {
    -fx-opacity: 1.0;
    -fx-pick-on-bounds: true;
}

/* لو في overlay شفاف بيغطي */
.stack-pane, .border-pane {
    -fx-pick-on-bounds: false;   /* مهم جدًا في بعض الحالات */
}

